.create {
	color: rgb(0, 0, 0);
	max-width: 500px;
	margin: 60px auto;
	padding: 30px;
	background: rgb(235, 235, 235);
}
.create label span {
	display: block;
	margin: 30px 0 10px;
}
.create h2 {
	color: rgb(0, 0, 0);
}
.create p {
	margin-top: 10px;
	font-size: 0.8em;
}
.create button {
	color: rgb(235, 235, 235);
	text-decoration: none;
	display: block;
	background: #111111;
	font-size: 0.9em;
	text-align: center;
	width: 150px;
	padding: 8px;
	border-radius: 4px;
	margin: 20px auto 0;
}
.ingredients {
	display: flex;
	align-items: center;
}
.ingredients button {
	margin: 0 0 0 10px;
}

.recipe button {
	color: rgb(235, 235, 235);
	background: #ff2121;
}

/* dark theme */
.create.dark {
	color: rgb(255, 255, 255);
	background: rgb(46, 46, 46);
}

.create.dark h2 {
	color: rgb(241, 241, 241);
}

.create.dark button {
	color: #555;

	background: #ebebeb;
}

.recipe.dark button {
	color: #555;
	background: #e2e2e2;
}
