.App {
	min-height: 100%;
}
.App.dark {
	box-shadow: inset 0 0 0 1000px rgba(241, 241, 241, 0.562);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url('./assets/bg.jpg');
}
